.product {
  width: 300px;
  color: @font-color-card;

  @media @mobile-s {
    width: 320px;
  }
}

.product__content-wrapper {
  position: relative;
  box-sizing: border-box;
  padding: 4px;
  border-radius: 10px;
  background-image: linear-gradient(135deg, transparent 33px, @border-color-card 33px);
  cursor: pointer;

  &:hover {
    background-image: linear-gradient(135deg, transparent 33px, @border-color-card--hover 33px);
  }

  .product--selected & {
    background-image: linear-gradient(135deg, transparent 33px, @border-color-card--selected 33px);
  }

  .product--disabled & {
    color: fade(@border-color-card--disabled, 50%);
    background-image: linear-gradient(135deg, transparent 33px, @border-color-card--disabled 33px);
    cursor: not-allowed;
  }

  .product--selected-hover & {
    background-image: linear-gradient(135deg, transparent 33px, @border-color-card--selected-hover 33px);
  }
}

.product__content {
  padding: 20px 30px 20px 44px;
  min-height: 432px;
  border-radius: 8px;
  background-image: url("../img/bg-cat.png"), linear-gradient(135deg, transparent 31px, @bg-color-card 31px);
  background-repeat: no-repeat;
  background-position: -28px ~"calc(100% + 93px)", 0 0;

  .product--disabled & {
    background-image: linear-gradient(135deg, transparent 31px, rgba(255, 255, 255, 0.5) 31px), url("../img/bg-cat.png"), linear-gradient(135deg, transparent 31px, #f2f2f2 31px);
    background-position: 0 0, -28px ~"calc(100% + 93px)", 0 0;
  }
}

.product__slogan {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 16px;

  .product--selected-hover & {
    display: none;
  }

  &--cancel {
    display: none;
    color: @font-color-base--hover;

    .product--selected-hover & {
      display: block;
    }
  }
}

.product__title {
  margin-top: 0;
  margin-bottom: 13px;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: @font-color-heading;
}

.product__type {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: @font-color-heading;
}

.product__text {
  margin-top: 0;
  margin-bottom: 0;

  &--consist,
  &--unavailable {
    display: none;
  }

  &--unavailable {
    color: @font-color-base--disabled;
  }
}

.product__number {
  font-weight: 700;
  color: @font-color-heading;
}

.product--disabled .product__title,
.product--disabled .product__type,
.product--disabled .product__number {
  color: fade(@border-color-card--disabled, 50%);
}

.product__weight {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  right: 15px;
  bottom: 15px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: @font-color-base;
  background-color: @border-color-card;

  .product--selected & {
    background-color: @border-color-card--selected;
  }

  .product--selected-hover & {
    background-color: @border-color-card--selected-hover;
  }

  .product--disabled & {
    background-color: @border-color-card--disabled;
  }

  .product__content-wrapper:hover & {
    background-color: @border-color-card--hover;
  }

  .product--selected .product__content-wrapper:hover & {
    background-color: @border-color-card--selected;
  }

  .product--selected-hover .product__content-wrapper:hover & {
    background-color: @border-color-card--selected-hover;
  }

  .product--disabled .product__content-wrapper:hover & {
    background-color: @border-color-card--disabled;
  }
}

.product__weight-number {
  font-size: 42px;
  line-height: 42px;
}

.product__weight-unit {
  font-size: 21px;
}

.product__footer {
  margin-top: 15px;
  font-size: 13px;
  color: @font-color-base;
  text-align: center;
}

.product--selected .product__text--action,
.product--disabled .product__text--action {
  display: none;
}

.product--selected .product__text--consist,
.product--disabled .product__text--unavailable {
  display: block;
}

.product__buy {
  font-weight: 700;
  color: @border-color-card;
  text-decoration: none;
  border-bottom: 1px dashed @border-color-card;
  cursor: pointer;

  &:hover {
    color: @border-color-card--hover;
  }
}
